.container{
    width: 100%;
    display:flex;
    flex-direction: column;
}
ul{
    list-style-type: none;
}
.tab-heading li {
    display: column;
    background-color: #e9e9e9;
    color: #101010;
    padding: 5px 0;
    width: 800px;
    margin: 0;
    text-align: center;
}

.tab-heading li:hover {
    cursor: pointer;
    background-color: #2c2c2c;
}
.tab-content {
    width: 800px;
    border: 2px solid #6e6e6e;
    padding: 3px;
    display: none;
}